/* Custom scrollbar styles */
/* Width and background of the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
    background-color: #F5F5F5; /* Background color */
  }
  
  /* Style for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #2ECC71; /* Thumb color */
    border-radius: 4px; /* Roundness of the thumb */
  }
  
  /* Optional: Style for the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #E2E4E7; /* Track color */
  }
  